<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliu.dao.enterprisedao" >
  <resultMap id="BaseResultMap" type="com.wuliu.pojo.enterprise" >
    <id column="Eid" property="eid" jdbcType="INTEGER" />
    <result column="EnterpriseSort" property="enterprisesort" jdbcType="VARCHAR" />
    <result column="EnterpriseName" property="enterprisename" jdbcType="VARCHAR" />
    <result column="Operation" property="operation" jdbcType="VARCHAR" />
    <result column="WorkArea" property="workarea" jdbcType="VARCHAR" />
    <result column="Address" property="address" jdbcType="VARCHAR" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="LinkMan" property="linkman" jdbcType="VARCHAR" />
    <result column="HandSet" property="handset" jdbcType="VARCHAR" />
    <result column="Fax" property="fax" jdbcType="VARCHAR" />
    <result column="Email" property="email" jdbcType="VARCHAR" />
    <result column="Http" property="http" jdbcType="VARCHAR" />
    <result column="Intro" property="intro" jdbcType="VARCHAR" />
    <result column="EissueDate" property="eissuedate" jdbcType="TIMESTAMP" />
    <result column="UserName" property="username" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Eid, EnterpriseSort, EnterpriseName, Operation, WorkArea, Address, Phone, LinkMan, 
    HandSet, Fax, Email, Http, Intro, EissueDate, UserName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_enterprise
    where Eid = #{eid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_enterprise
    where Eid = #{eid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuliu.pojo.enterprise" >
    insert into tb_enterprise (Eid, EnterpriseSort, EnterpriseName, 
      Operation, WorkArea, Address, 
      Phone, LinkMan, HandSet, 
      Fax, Email, Http, Intro, 
      EissueDate, UserName)
    values (#{eid,jdbcType=INTEGER}, #{enterprisesort,jdbcType=VARCHAR}, #{enterprisename,jdbcType=VARCHAR}, 
      #{operation,jdbcType=VARCHAR}, #{workarea,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, #{handset,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{http,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, 
      #{eissuedate,jdbcType=TIMESTAMP}, #{username,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuliu.pojo.enterprise" >
    insert into tb_enterprise
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eid != null" >
        Eid,
      </if>
      <if test="enterprisesort != null" >
        EnterpriseSort,
      </if>
      <if test="enterprisename != null" >
        EnterpriseName,
      </if>
      <if test="operation != null" >
        Operation,
      </if>
      <if test="workarea != null" >
        WorkArea,
      </if>
      <if test="address != null" >
        Address,
      </if>
      <if test="phone != null" >
        Phone,
      </if>
      <if test="linkman != null" >
        LinkMan,
      </if>
      <if test="handset != null" >
        HandSet,
      </if>
      <if test="fax != null" >
        Fax,
      </if>
      <if test="email != null" >
        Email,
      </if>
      <if test="http != null" >
        Http,
      </if>
      <if test="intro != null" >
        Intro,
      </if>
      <if test="eissuedate != null" >
        EissueDate,
      </if>
      <if test="username != null" >
        UserName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eid != null" >
        #{eid,jdbcType=INTEGER},
      </if>
      <if test="enterprisesort != null" >
        #{enterprisesort,jdbcType=VARCHAR},
      </if>
      <if test="enterprisename != null" >
        #{enterprisename,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        #{operation,jdbcType=VARCHAR},
      </if>
      <if test="workarea != null" >
        #{workarea,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="handset != null" >
        #{handset,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="http != null" >
        #{http,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        #{intro,jdbcType=VARCHAR},
      </if>
      <if test="eissuedate != null" >
        #{eissuedate,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliu.pojo.enterprise" >
    update tb_enterprise
    <set >
      <if test="enterprisesort != null" >
        EnterpriseSort = #{enterprisesort,jdbcType=VARCHAR},
      </if>
      <if test="enterprisename != null" >
        EnterpriseName = #{enterprisename,jdbcType=VARCHAR},
      </if>
      <if test="operation != null" >
        Operation = #{operation,jdbcType=VARCHAR},
      </if>
      <if test="workarea != null" >
        WorkArea = #{workarea,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        Address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        Phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        LinkMan = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="handset != null" >
        HandSet = #{handset,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        Fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        Email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="http != null" >
        Http = #{http,jdbcType=VARCHAR},
      </if>
      <if test="intro != null" >
        Intro = #{intro,jdbcType=VARCHAR},
      </if>
      <if test="eissuedate != null" >
        EissueDate = #{eissuedate,jdbcType=TIMESTAMP},
      </if>
      <if test="username != null" >
        UserName = #{username,jdbcType=VARCHAR},
      </if>
    </set>
    where Eid = #{eid,jdbcType=INTEGER}
  </update>
  <select id="getentermessage" resultType="map">
    select Eid,EnterpriseSort,EnterpriseName,Operation,WorkArea from tb_enterprise limit #{0},#{1}
  </select>
  <select id="getnum" resultType="int">
    select count(*) from tb_enterprise
  </select>
</mapper>