<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliu.dao.goodsmegdao">
	<resultMap id="BaseResultMap" type="com.wuliu.pojo.goodsmeg">
		<id column="Gid" property="gid" jdbcType="INTEGER" />
		<result column="GoodsStyle" property="goodsstyle" jdbcType="VARCHAR" />
		<result column="GoodsName" property="goodsname" jdbcType="VARCHAR" />
		<result column="GoodsNumber" property="goodsnumber" jdbcType="VARCHAR" />
		<result column="GoodsUnit" property="goodsunit" jdbcType="VARCHAR" />
		<result column="StartProvince" property="startprovince"
			jdbcType="VARCHAR" />
		<result column="StarCity" property="starcity" jdbcType="VARCHAR" />
		<result column="EndProvince" property="endprovince" jdbcType="VARCHAR" />
		<result column="EndCity" property="endcity" jdbcType="VARCHAR" />
		<result column="Style" property="style" jdbcType="VARCHAR" />
		<result column="TransportTime" property="transporttime"
			jdbcType="VARCHAR" />
		<result column="Phone" property="phone" jdbcType="VARCHAR" />
		<result column="Link" property="link" jdbcType="VARCHAR" />
		<result column="GissueDate" property="gissuedate" jdbcType="TIMESTAMP" />
		<result column="Remark" property="remark" jdbcType="VARCHAR" />
		<result column="Request" property="request" jdbcType="VARCHAR" />
		<result column="UserName" property="username" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		Gid, GoodsStyle, GoodsName, GoodsNumber, GoodsUnit,
		StartProvince,
		StarCity, EndProvince,
		EndCity, Style, TransportTime,
		Phone, Link, GissueDate, Remark, Request,
		UserName
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tb_goodsmeg
		where Gid = #{gid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		tb_goodsmeg
		where Gid = #{gid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.wuliu.pojo.goodsmeg">
		insert into tb_goodsmeg (Gid,
		GoodsStyle, GoodsName,
		GoodsNumber, GoodsUnit, StartProvince,
		StarCity,
		EndProvince, EndCity,
		Style, TransportTime, Phone,
		Link, GissueDate,
		Remark,
		Request, UserName)
		values (NULL,
		#{goodsstyle,jdbcType=VARCHAR},
		#{goodsname,jdbcType=VARCHAR},
		#{goodsnumber,jdbcType=VARCHAR},
		#{goodsunit,jdbcType=VARCHAR},
		#{startprovince,jdbcType=VARCHAR},
		#{starcity,jdbcType=VARCHAR},
		#{endprovince,jdbcType=VARCHAR},
		#{endcity,jdbcType=VARCHAR},
		#{style,jdbcType=VARCHAR},
		#{transporttime,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR},
		#{link,jdbcType=VARCHAR},
		NOW(),
		#{remark,jdbcType=VARCHAR},
		#{request,jdbcType=VARCHAR},
		#{username,jdbcType=VARCHAR})
	</insert>
	<select id="gettotalnumber" resultType="int">
		select count(*) from
		tb_goodsmeg
	</select>
	<select id="getgoodmessage" resultType="map">
		select
		Gid,GoodsStyle,GoodsName,StartProvince,StarCity,EndProvince,EndCity
		from tb_goodsmeg
		<if test="size > 0">
			LIMIT #{page},#{size}
		</if>
	</select>
	<select id="getgoodinfo" resultType="map">
		select
		Gid,GoodsStyle,GoodsName,GoodsNumber,GoodsUnit,StartProvince,StarCity,EndProvince,EndCity
		from tb_goodsmeg limit #{0},#{1}
	</select>
	<select id="getallgoodmessage" resultType="map">
		select * from
		tb_goodsmeg limit #{0},#{1}
	</select>

	<update id="updateByPrimaryKey" parameterType="com.wuliu.pojo.goodsmeg">
		update tb_goodsmeg
		set GoodsStyle = #{goodsstyle,jdbcType=VARCHAR},
		GoodsName =
		#{goodsname,jdbcType=VARCHAR},
		GoodsNumber =
		#{goodsnumber,jdbcType=VARCHAR},
		GoodsUnit =
		#{goodsunit,jdbcType=VARCHAR},
		StartProvince =
		#{startprovince,jdbcType=VARCHAR},
		StarCity =
		#{starcity,jdbcType=VARCHAR},
		EndProvince =
		#{endprovince,jdbcType=VARCHAR},
		EndCity = #{endcity,jdbcType=VARCHAR},
		Style = #{style,jdbcType=VARCHAR},
		TransportTime =
		#{transporttime,jdbcType=VARCHAR},
		Phone = #{phone,jdbcType=VARCHAR},
		Link = #{link,jdbcType=VARCHAR},

		Remark = #{remark,jdbcType=VARCHAR},
		Request = #{request,jdbcType=VARCHAR},
		UserName =
		#{username,jdbcType=VARCHAR}
		where Gid =
		#{gid,jdbcType=INTEGER}
	</update>

	<select id="getdetail" parameterType="int" resultType="map">
		SELECT *
		FROM tb_goodsmeg WHERE Gid =#{0};
	</select>

</mapper>