<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliu.dao.knowledge" >
  <resultMap id="BaseResultMap" type="com.wuliu.pojo.knowledge" >
    <id column="Kid" property="kid" jdbcType="INTEGER" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="Author" property="author" jdbcType="VARCHAR" />
    <result column="KissueDate" property="kissuedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wuliu.pojo.knowledge" extends="BaseResultMap" >
    <result column="Content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Kid, Title, Author, KissueDate
  </sql>
  <sql id="Blob_Column_List" >
    Content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_knowledge
    where Kid = #{kid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_knowledge
    where Kid = #{kid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuliu.pojo.knowledge" >
    insert into tb_knowledge (Kid, Title, Author, 
      KissueDate, Content)
    values (#{kid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{kissuedate,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuliu.pojo.knowledge" >
    insert into tb_knowledge
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="kid != null" >
        Kid,
      </if>
      <if test="title != null" >
        Title,
      </if>
      <if test="author != null" >
        Author,
      </if>
      <if test="kissuedate != null" >
        KissueDate,
      </if>
      <if test="content != null" >
        Content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="kid != null" >
        #{kid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="kissuedate != null" >
        #{kissuedate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliu.pojo.knowledge" >
    update tb_knowledge
    <set >
      <if test="title != null" >
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        Author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="kissuedate != null" >
        KissueDate = #{kissuedate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        Content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Kid = #{kid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wuliu.pojo.knowledge" >
    update tb_knowledge
    set Title = #{title,jdbcType=VARCHAR},
      Author = #{author,jdbcType=VARCHAR},
      KissueDate = #{kissuedate,jdbcType=TIMESTAMP},
      Content = #{content,jdbcType=LONGVARCHAR}
    where Kid = #{kid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliu.pojo.knowledge" >
    update tb_knowledge
    set Title = #{title,jdbcType=VARCHAR},
      Author = #{author,jdbcType=VARCHAR},
      KissueDate = #{kissuedate,jdbcType=TIMESTAMP}
    where Kid = #{kid,jdbcType=INTEGER}
  </update>
</mapper>