<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuliu.dao.logistics" >
  <resultMap id="BaseResultMap" type="com.wuliu.pojo.logistics" >
    <id column="Lid" property="lid" jdbcType="INTEGER" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="Author" property="author" jdbcType="VARCHAR" />
    <result column="LissueDate" property="lissuedate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wuliu.pojo.logistics" extends="BaseResultMap" >
    <result column="Content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Lid, Title, Author, LissueDate
  </sql>
  <sql id="Blob_Column_List" >
    Content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_logistics
    where Lid = #{lid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_logistics
    where Lid = #{lid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wuliu.pojo.logistics" >
    insert into tb_logistics (Lid, Title, Author, 
      LissueDate, Content)
    values (#{lid,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, 
      #{lissuedate,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuliu.pojo.logistics" >
    insert into tb_logistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lid != null" >
        Lid,
      </if>
      <if test="title != null" >
        Title,
      </if>
      <if test="author != null" >
        Author,
      </if>
      <if test="lissuedate != null" >
        LissueDate,
      </if>
      <if test="content != null" >
        Content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lid != null" >
        #{lid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="lissuedate != null" >
        #{lissuedate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuliu.pojo.logistics" >
    update tb_logistics
    <set >
      <if test="title != null" >
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        Author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="lissuedate != null" >
        LissueDate = #{lissuedate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        Content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where Lid = #{lid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wuliu.pojo.logistics" >
    update tb_logistics
    set Title = #{title,jdbcType=VARCHAR},
      Author = #{author,jdbcType=VARCHAR},
      LissueDate = #{lissuedate,jdbcType=TIMESTAMP},
      Content = #{content,jdbcType=LONGVARCHAR}
    where Lid = #{lid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuliu.pojo.logistics" >
    update tb_logistics
    set Title = #{title,jdbcType=VARCHAR},
      Author = #{author,jdbcType=VARCHAR},
      LissueDate = #{lissuedate,jdbcType=TIMESTAMP}
    where Lid = #{lid,jdbcType=INTEGER}
  </update>
</mapper>